div.wrap {height:100%; overflow:hidden;}
.body,html{
    overflow: hidden;
}
#cursos{
    width: 100%;
    height: 100%;
    background-color: white;
    
}
#tutoriais{
    width: 100%;
    height: 100%;
    
}
#home{
    margin-top: 50%;
    width: 100%;
    height: 100%;
    background-color: white;
    
}
#guia{
    width: 100%;
    height: 99%;
    
    
}
.cardCursos{
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 100px;
   
}






