#cursos{
    width: 100%;
    height: 100%;
    background-color: white;
    
}
#documentacoes{
    width: 100%;
    height: 100%;
    background-color: black;
    
}
#home{
    width: 100%;
    height: 100%;
    background-color: white;
    
}
#tutoriais{
    width: 100%;
    height: 100%;
    background-color: black;
    
}
.cardCursos{
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 100px;
   
}



